*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    
    border: 2px solid black;
    font-size: 3em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}
.container:hover
{
    cursor: pointer;
}
.container::after
{
    content: "Cool";
    display: block;
   position: absolute;
    width: 100%;
    height:100%;
    background-color: red;
    top: 0;
    left: 0;
    text-align: center;
    overflow: hidden;
    transform-origin: 0 0;
    transform: translateY(-100%);
    transition: transform 3s ease;
}
.container:hover::after
{
    transform:translateY(0) ;
}