*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 42, 42);
}
.container
{
    
    font-size: 3em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    padding: 1em;
    overflow: hidden;
    transition: color .5s ease 1.8s ;
}
.container:hover
{
    cursor: pointer;
    color: white;

}
.container::after
{
    content: "";
    position: absolute;
    display: flex;
    top: 43%;
    /* left: 60%; */
    height: .5em;
    width: .5em;
    border-radius: 50%;
    background-color: red;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transform: translateX(650%);
    transition: transform 2s ease ;
    /* z-index: -1; */
}
.container::before
{
    content: "";
    position: absolute;
    display: flex;
    top: 43%;
    /* left: 30%; */
    height: .5em;
    width: .5em;
    border-radius: 50%;
    background-color: red;
    justify-content: center;
    align-items: center;
    transform: translateX(-650%);
    transition: transform 2s ease ;

    /* z-index: -1; */
}
.container>span
{
    position: absolute;
    top: 43%;
    height: .5em;
    width: .5em;
    border-radius: 50%;
    background-color: transparent;
    z-index: -1;
    transform-origin: center;
    transform: scale(1);
    transition: transform .1s 2s,border-radius 1s 2s;
}
.container:hover>span
{
    background-color: red;

    border-radius: 0;
    transform: scale(10);
}

.container:hover::after,.container:hover::before
{
    transform: translateX(0);
    z-index: -1;
}
