*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    
    border: 2px solid black;
    font-size: 3em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    position: relative;
    
}
.container:hover
{
    cursor: pointer;
}
.container::after
{
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 128, 0);
    transform: scaleY(0);
    transition: transform 1s ease;
    z-index: -1;
}
.container:hover::after
{
    transform: scaleY(1);
}
.container::before
{
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 128, 0);
    transform: scaleX(0);
    transition: transform 1s ease;
    z-index: -1;
}
.container:hover::before
{
    transform: scaleX(1);
}