*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.container
{
    color: white;
    font-size: 1.9em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    /* padding: .5em; */
    position: relative;
    text-transform: uppercase;

    width: 250px;
    height: 130px;
    padding: 10px;
    transition: color .5s ease ;

}
.container::after
{
    content: "";
    position: absolute;
    display: flex;
    transform-origin: top center;
    mix-blend-mode: multiply;

    top: -10px;
    left:-10px;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
    justify-content: center;
    transform-style: preserve-3d;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0);
    z-index: -1;
    transition: transform 2s ease;
}
.container:hover::after
{
    transform: perspective(1000px) rotateX(67deg) rotateY(0deg) rotateZ(0deg) translateX(10px);
}
.container::before
{
    content: "";
    transform-style: preserve-3d;

    position: absolute;
    display: flex;
    right: -10px;
    bottom: -10px;
    justify-content: center;
    align-items: center;
    transform-origin: bottom center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0);
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
    transition: transform 2s ease;

    z-index: -1;
}
.container:hover::before
{
    transform: perspective(1000px) rotateX(-67deg) rotateY(0deg) rotateZ(0deg) translateX(-10px) ;

}

.container:hover
{
    cursor: pointer;
    color: yellow;
}