*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-transform: uppercase;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw ;
    background-color: black;
}
.container
{
 background-color: rgba(255, 0, 0);
 color: black;
 width: 10em;
 font-size: 1.5vw;
 height: 10em;
 display: flex;
 flex-direction: column;
 border-width:0;
 justify-content: center;
 align-items: center;
 position: relative;

}
.normal
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 0, 0);

}
.rotate
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0);
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.deux
{
    position: absolute;
    background-color: white;
    height:0;
    width:3px;
    /* transition: height 1s ease .5s; */

    transition: height .5s ease .2s;
}
.un
{
    position: absolute;
    background-color: white;
    height: 3px;
    width:0;
    transition: width 1s ease;

}
.first
{
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    transition: width  .5s ease  .3s;
}

.second
{
    position: absolute;
    background-color: white;
    height:0;
    width: 3px;

    transition:height .5s ease .4s;
}


.top    
{
    top:0;
}
.bottom
{
    bottom: 0;
    
}
.left
{
    left: 0;
}
.right
{
    right: 0;
}
.container>span:nth-child(2)
{
    color: white;
    font-size: 2vw;
}
.left.deux,.right.deux
{
    z-index: 1000;
}
.container:hover
{
    cursor: pointer;
}
.container:hover .un
{
    width: 100%;
}
.container:hover .first
{
    width: 100%;
}
.container:hover .second
{
    height: 100%;
}
.container:hover .deux
{
    height: 100%;
}
.text
{
    position: absolute;
    display: flex;
 flex-direction: column;
 border-width:0;
 justify-content: center;
 align-items: center;
 z-index: 2000;
}