*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container
{
    
    border: 2px solid white;
    color: white;
    font-size: 4em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position: relative;
    overflow: hidden;
}
.container::after
{
    content: "hoverable";
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    transform: scale(10) ;
    transition: transform 2s ease-out, color 1s  ;
    display: flex;
    color: transparent;
    justify-content: center;
    align-items: center;
}
.container:hover::after
{
    transform: scale(1);
    color: white;
}
.container:hover
{
    cursor: pointer;
}