*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(36, 35, 35);
}
.container
{
    
    border: 2px solid white;
    font-size: 4em;
    color: black; 
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    position: relative;
    transition: background-color 1s ease 1s, color 1s ease 6s;
    
}
.container:hover
{
    background-color: white;
    cursor: pointer;
    color: black;
}
.container::after
{
    content: "hoverable";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid  white;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 35, 35);
    color: white;
    transform-origin: center;
    transition: transform 3s ease-out;
    transform:  translateX(0) scale(1)  ;
    /* background-color: red; */
    /* z-index: -1; */
}
.container:hover::after
{
    transform: translateX(-100%)   scale(0) perspective(400px) rotate3d(1,1,1,360deg)    ;
}
.container::before
{
    content: "hoverable";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: left;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(36, 35, 35);
    transform-origin: center;
    transition: transform 3s ease-out;
    transform: translateX(0)  scale(1);
    /* background-color: red; */
    /* z-index: -1; */
}
.container:hover::before
{
    transform: translateX(100%) scale(0) perspective(400px) rotate3d(1,1,1,360deg);
}
