*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.container
{
    border: 2px solid rgba(0, 0, 0, 0.284);
    width: 300px;
    height: 100px;
    color: rgb(126, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    overflow: hidden;
    transition: color 3s ease .4s;
}
.container::after
{
    content: "";
    display: block;
    position: absolute;
    background-color:rgb(126, 16, 16);
    bottom: 0;
    right: 0;
    width:60%;
    height: 150%;
    transform-origin: 100% 100%;
    transform: rotate(90deg);
    transition: transform 2s ease;
    z-index: -4;

}
.container::before
{
    content: "";
    display: block;
    position: absolute;
    background-color:rgb(126, 16, 16);
    bottom: 0;
    left: 0;
    width:60%;
    height: 150%;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
    transition: transform 2s ease;
    z-index: -4;
}
.container:hover::before
{
    transform:rotate(0deg) ;
    cursor: pointer;
}
.container:hover::after
{
    transform:rotate(0deg) ;
    cursor: pointer;
}

.container:hover
{
    color:white ;
    cursor: pointer;
}