*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.container
{
    border: 3px solid white;
    color: white;
    font-size: 10em;
    transition: background-color 3s ease .2s; 
    position: relative;
    overflow: hidden;
}
.container::after
{
    position: absolute;
    content: "";
    display: block;
    width: 120%;
    border-top: 30px solid white;
    height: 400%;
    background-color: red;
    bottom: -420%;
    right: -6%;
    transform-origin: 100% 0;
    transform: rotate(0deg);
    transition: transform 1s ease;
    z-index: -1;
    
}
.container:hover::after
{
    cursor: pointer;
    transform: rotate(90deg);
}
    .container:hover
{
    cursor: pointer;
}